#####################################
# Project-specific .gitignore items #
#####################################
# IntelliJ metadirectory
.idea/ 
.idea/*
.idea/workspace.xml
.idea/uiDesigner.xml

# Java project files
docs/java
java/dist
out/
logs/
*.log

# git merge conflict backups
*.orig

############################
# Generic .gitignore items #
############################

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Linux ###
*~
*.swp

# KDE directory preferences
.directory


### Java ###
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
